<div class="container">
  <div class="card m-3 mx-auto" style="width: 30rem;">
    <div class="card-header">
      Informations du site du Conseil de l'Ordre
    </div>
    <div class="card-body">
      <div id="<%= dom_id cdom %>">
        <p>
          <strong>Id:</strong>
          <%= cdom.id %>
        </p>
      
        <p>
          <strong>Departement:</strong>
          <%= cdom.departement %>
        </p>
      
        <p>
          <strong>Nom:</strong>
          <%= cdom.name %>
        </p>
      
        <p>
          <strong>Mail:</strong>
          <%= cdom.email %>
        </p>
      </div>
    </div>
  </div>
</div>
