<%= form_with(model: cdom, class: "card m-3 shadow") do |form| %>
  <% if cdom.errors.any? %>
    <div class="card-header bg-danger text-white">
      <h2><%= pluralize(cdom.errors.count, "erreur") %> a ou ont empêché l'enregistrement de ce CDOM :</h2>
    </div>
    <div class="card-body text-danger">
      <ul>
        <% cdom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-12">
        <%= form.label :departement, "Département", class: "form-label" %>
        <%= form.text_field :departement, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= form.label :name, "Nom", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= form.label :email, "Email", class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="mt-4">
      <%= form.submit "Enregistrer", class: "btn btn-primary" %>
      <%= link_to "Retour", cdoms_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>