<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Détails du CDOM</h1>
    <div>
      <%= link_to "Modifier", edit_cdom_path(@cdom), class: "btn btn-primary" %>
      <%= link_to "Retour", cdoms_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <div class="card m-3 shadow">
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-12">
          <h5 class="form-label">Département</h5>
          <p class="form-control-static"><%= @cdom.departement %></p>
        </div>

        <div class="col-md-12">
          <h5 class="form-label">Nom</h5>
          <p class="form-control-static"><%= @cdom.name %></p>
        </div>

        <div class="col-md-12">
          <h5 class="form-label">Email</h5>
          <p class="form-control-static"><%= @cdom.email %></p>
        </div>
      </div>
    </div>
  </div>
</div>
