<div class="card shadow m-3">
  <div class="card-header">
    <h1>Édition du contrat de Remplacement</h1>
  </div>
  <div class="card-body">
    <%= form_tag(update_contract_contracts_path, method: :patch) do %>
      <div class="form-group">
        <%= label_tag :contract_content, "Contenu du contrat" %>
        <div class="input-group mb-3">
          <select id="variable_selector" class="form-select"></select>
          <button id="import_variable_btn" class="btn btn-primary" type="button">Insérer</button>
        </div>
        <%= text_area_tag :contract_content, @contract_content, rows: 10, class: "form-control", id: "contract_content" %>
        <div id="variable_list"></div>
      </div>
      <div class="text-end mt-4">
        <%= submit_tag "Enregistrer", class: "btn btn-primary" %>
        <%= link_to "Retour", root_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  var variables = {
    "Titre de l'utilisateur": "user.title",
    "Nom de famille de l'utilisateur": "user.last_name",
    "Prénom de l'utilisateur": "user.first_name",
    "E-mail de l'utilisateur": "user.email",
    "Téléphone de l'utilisateur": "user.phone",
    "Adresse de l'utilisateur": "user.address",
    "Code postal de l'utilisateur": "user.postal_code",
    "Ville de l'utilisateur": "user.city",
    "Numéro SIRET de l'utilisateur": "user.siret_number",
    "Numéro de licence de l'utilisateur": "user.license_number",
    "Titre du médecin": "doctor.title",
    "Prénom du médecin": "doctor.first_name",
    "Nom de famille du médecin": "doctor.last_name",
    "RPPS du médecin": "doctor.rpps",
    "Email du médecin": "doctor.email",
    "Téléphone du médecin": "doctor.phone",
    "Nom du site de remplacement": "site.name",
    "Adresse du site de remplacement": "site.address",
    "Code postal du site de remplacement": "site.postal_code",
    "Ville du site de remplacement": "site.city",
    "Date de début de l'événement (JJ/MM/AAAA)": "event.start_time.strftime('%d/%m/%Y')",
    "Date de fin de l'événement (JJ/MM/AAAA)": "event.end_time.strftime('%d/%m/%Y')",
    "Heure de début de l'événement (HH:MM)": "event.start_time.strftime('%H:%M')",
    "Heure de fin de l'événement (HH:MM)": "event.end_time.strftime('%H:%M')",
    "Taux de reversion du remplacement": "event.reversion"
  };

  function populateVariableSelector() {
    var variableSelector = $("#variable_selector");

    for (var key in variables) {
      if (variables.hasOwnProperty(key)) {
        var option = $("<option></option>").val(variables[key]).text(key);
        variableSelector.append(option);
      }
    }
  }

  function importVariable() {
    var selectedVariable = $("#variable_selector").val();
    var contractContent = $("#contract_content");
    var cursorPosition = contractContent[0].selectionStart; 

    var currentText = contractContent.val();
    var newText = currentText.slice(0, cursorPosition) + selectedVariable + currentText.slice(cursorPosition);
    contractContent.val(newText);

    contractContent[0].selectionStart = contractContent[0].selectionEnd = cursorPosition + selectedVariable.length;

    clearVariableSelector();
  }

  function clearVariableSelector() {
    var variableSelector = $("#variable_selector");
    variableSelector[0].selectedIndex = 0;
  }

  $(document).ready(function() {
    populateVariableSelector();

    $("#import_variable_btn").click(function() {
      importVariable();
    });
  });
</script>
