<div class="card shadow m-3">
  <div class="card-header">
    <h1>Édition du Contrat de Remplacement</h1>
  </div>
  <div class="card-body">
    <%= form_tag(update_contract_contracts_path, method: :patch) do %>
      <div class="form-group">
        <%= label_tag :contract_content, "Contenu du contrat" %>
        <div class="input-group mb-3 w-50">
          <select id="variable_selector" class="form-select"></select>
          <button id="import_variable_btn" class="btn btn-primary" type="button">Insérer</button>
        </div>
        <%= rich_text_area_tag :contract_content, @contract_content, rows: 10, class: "form-control", id: "contract_content" %>
        <div id="variable_list"></div>
      </div>
      <div class="text-end mt-4">
        <%= submit_tag "Enregistrer", class: "btn btn-primary" %>
        <%= link_to "Retour", root_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<script src="<%= asset_path 'contract.js' %>"></script>
