<div class="container-fluid">
  <div class="row">
    <div class="col d-flex">
      <div class="card shadow m-1 border-bottom-color-doctors m-3 mx-auto" style="width: 40rem;">
        <div class="card-body">
          <h4 class="mb-4 text-center">Présentation du (des) Praticien(s) du cabinet :</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% @doctors.each do |doctor| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow m-3">
          <div class="card-body">
<h5 class="text-center"><i class="bi bi-person-lines-fill"></i> <%= doctor.title %> <%= doctor.last_name %> <%= doctor.first_name %></h5>
            <hr>
            <ul class="list-unstyled">
              <li>RPPS: <span class="text-primary"><%= doctor.rpps %></span></li>
              <li>Spécialité: <span class="text-primary"><%= doctor.speciality %></span></li>
              <li>Secteur conventionné: <span class="text-primary"><%= doctor.conventional_sector %></span></li>
              <li>OPTAM: <span class="text-primary"><%= doctor.optam ? 'Oui' : 'Non' %></span></li>
              <li>Téléphone: <span class="text-primary"><%= doctor.phone %></span></li>
              <li>Email: <span class="text-primary"><%= doctor.email %></span></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-5">
    <div class="col d-flex">
      <div class="card shadow m-1 border-bottom-color-sites m-3 mx-auto" style="width: 40rem;">
        <div class="card-body">
          <h4 class="mb-4 text-center">Présentation du (des) site(s) de consultation :</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% @sites.each do |site| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow m-3" style="border-left: 5px solid <%= site.color %>;">
          <div class="card-body">
            <h5 class="text-center"><i class="bi bi-house-door-fill"></i> <%= site.name %></h5>
          <hr>
            <ul class="list-unstyled">
              <li>Adresse: <span class="text-primary"><%= site.address %></span></li>
              <li>Code postal: <span class="text-primary"><%= site.postal_code %></span></li>
              <li>Ville: <span class="text-primary"><%= site.city %></span></li>
              <li>Logiciel: <span class="text-primary"><%= site.software %></span></li>
              <li>Caractéristiques: <span class="text-primary"><%= site.informations %></span></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>