<div class="card m-3 shadow">
<div class="card-header">
<h1>Liste des Utilisateurs</h1>
</div>

<div class="row m-2">
  <div class="col-md-8 mt-2">
    <%= form_tag users_path, method: :get, class: 'w-100' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Rechercher par Nom ou Prénom', class: 'form-control', type: 'search' %>
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content">
        <% if params[:search].blank? %>
          <%= submit_tag 'Rechercher', class: 'btn btn-outline-secondary m-2' %>
        <% else %>
          <%= link_to 'Réinitialiser', users_path, class: 'btn btn-outline-secondary m-2' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped sort" data-controller="table-sort" data-table-sort-target="table">
      <thead>
        <tr class="table-primary">
          <th data-action="click->table-sort#sort">Nom</th>
          <th data-action="click->table-sort#sort">Prénom</th>
          <th data-action="click->table-sort#sort">Ville</th>
          <th data-action="click->table-sort#sort">Numéro de licence</th>
          <th data-action="click->table-sort#sort">Numéro SIRET</th>
          <th>Utilisateur Actif</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% if @users.present? && @users.any? %>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.last_name %></td>
              <td><%= user.first_name %></td>
              <td><%= user.city %></td>
              <td><%= user.license_number %></td>
              <td><%= user.siret_number %></td>
              <td><%= user.active ? 'Oui' : 'Non' %></td>
              <td>
  <div class="btn-group" role="group">
<%= link_to edit_user_path(user), class: "btn btn-sm btn-secondary me-2 rounded" do %>
  <i class="bi bi-pencil-fill"></i>
<% end %>

<%= button_to destroy_user_path(user), method: :delete, class: "btn btn-sm btn-danger me-2", data: { "turbo-confirm": "Êtes-vous sûr de vouloir supprimer cet utilisateur ?" } do %>
  <i class="bi bi-trash-fill"></i>
<% end %>

  <% if !user.active %>
    <%= button_to "Autoriser", active_user_path(user), method: :put, class: "btn btn-sm btn-success me-2" %>
  <% else %>
    <%= button_to "Autoriser", "#", class: "btn btn-sm btn-success me-2 disabled", disabled: true %>
  <% end %>
  </div>
</td>

            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7">Aucun utilisateur trouvé</td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
    <div class="row mb-4">
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
<div class="m-3">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
