<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Modification du Mot de Passe</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "card m-3 shadow" }) do |f| %>
    <div class="card-body">
      <% if resource.errors.any? %>
        <div class="alert alert-danger">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      <% end %>
      <%= f.hidden_field :reset_password_token %>

      <div class="row g-3">
        <div class="col-md-12">
          <%= f.label :password, "Nouveau mot de passe", class: "form-label" %>
          <% if @minimum_password_length %>
            <div class="form-text">(<%= @minimum_password_length %> caractères minimum)</div>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="col-md-12">
          <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe", class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="mt-4">
        <%= f.submit "Changer mon mot de passe", class: "btn btn-primary" %>
        <%= link_to "Retour", new_session_path(resource_name), class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>