<div class="px-4 py-5 px-md-5 text-center text-lg-start m-3" style="background-color: hsl(0, 0%, 96%); border-radius: 8px;">
  <div class="container mx-auto">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-3 fw-bold ls-tight">
          Mot de passe<br />
          <span class="text-primary">oublié ?</span>
        </h1>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card shadow">
          <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <% if resource.errors.any? %>
        <div class="alert alert-danger" role="alert">
        <%= render "devise/shared/error_messages", resource: resource %>
        </div>
        <% end %>

        <div class="form-group m-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group m-3 text-center">
          <%= f.submit "Réinitialisation du mot de passe", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>