<% if user_signed_in? %>
  <nav class="navbar fixed-top navbar-light bg-white">
    <div class="navcontainer">

          <div class="navbar-brand">
            <% if current_user && current_user.admin? %>
              <button class="sidebar-toggle-btn" onclick="toggleSidebar()">
                  <i id="toggleIcon" class="bi bi-list"></i>
              </button>

            <% end %>
            <%= link_to root_path, class: "nav-link mt-1" do %><%= @app_name %><% end %>
          </div>
 
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="dropdownNavbar<%= user_signed_in? ? ' position-absolute' : '' %>">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                  Bienvenue, <%= current_user.first_name %> <%= current_user.last_name %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                  <li>
                    <%= link_to edit_user_registration_path, class: "nav-link" do %>
                      <i class="bi bi-person-lines-fill text-grey"></i> Edition du profil
                    <% end %>
                  </li>
                  <li>
                    <%= link_to userdata_path, class: "nav-link" do %>
                      <i class="bi bi-file-earmark-medical-fill text-grey"></i> Mes Remplacements
                        <% if @upcoming_events_with_contract > 0 %>
                          <span class="badge bg-danger rounded-circle m-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title='<%= @upcoming_events_with_contract %> contrat(s) à relire'>
                            <%= @upcoming_events_with_contract %>
                          </span>
                        <% end %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to office_path, class: "nav-link" do %>
                      <i class="bi bi-house-fill text-grey"></i> Le Cabinet
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
                      <i class="bi bi-door-open-fill text-grey" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Déconnexion"></i> Se déconnecter
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
  </nav>
<% end %>



    <% if current_user && current_user.admin? %>
<div class="sidebar hidden bg-white" id="sidebar">
  <ul class="navbar-nav navbar-light">
      <li class="nav-item">
        <%= link_to events_path, class: "nav-link" do %>
          <i class="bi bi-calendar3"></i> Calendrier
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class: "nav-link" do %>
          <i class="bi bi-people"></i> Utilisateurs
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to sites_path, class: "nav-link" do %>
          <i class="bi bi-house-door"></i> Sites
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to doctors_path, class: "nav-link" do %>
          <i class="bi bi-person-badge"></i> Médecins
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to mailing_lists_path, class: "nav-link" do %>
          <i class="bi bi-envelope"></i> Mailing Lists
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to cdoms_path, class: "nav-link" do %>
          <i class="bi bi-briefcase"></i> Conseil de l'Ordre
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to contracts_path, class: "nav-link" do %>
          <i class="bi bi-file-earmark-text"></i> Contrat de Remplacement
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to datas_path, class: "nav-link" do %>
          <i class="bi bi-file-earmark-medical"></i> Suivi Des Remplacements
          <% if @contract_to_generate > 0 %>
          <span class="badge bg-danger rounded-circle m-1">
            <%= @contract_to_generate %>
          </span>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to accounting_path, class: "nav-link" do %>
          <i class="bi bi-file-earmark-medical"></i> Comptabilité
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to app_settings_path, class: "nav-link" do %>
      <i class="bi bi-gear-wide-connected"></i> Préférences
        <% end %>
      </li>
    <% end %>
  </ul>
</div>