<style>
  .navbar {
    background-color: #d6d6d6;
    color: black;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    margin-right: 10px;
  }

  .navbar-text {
    margin-right: 10px;
  }

  .navbar-nav,
  .sidebar .navbar-nav {
    display: flex;
    align-items: center;
  }

  .navbar-nav .nav-link,
  .sidebar .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 4px;
  }

  .navbar-nav .nav-link:hover,
  .sidebar .navbar-nav .nav-link:hover {
    background-color: transparent;
    color: #2659ff;
  }

  .navbar-nav .nav-link i,
  .sidebar .navbar-nav .nav-link i {
    margin-right: 5px;
  }

  .sidebar {
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid lightgray;
    transition: left 0.5s ease;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .sidebar .navbar-nav {
    align-items: flex-start;
  }

  .sidebar .navbar-nav .nav-link {
    padding: 4px;
    width: 100%;
    justify-content: flex-start;
  }

  .sidebar .navbar-nav .nav-link i {
    margin-right: 5px;
  }

  .sidebar.hidden {
    left: -250px;
  }

  .sidebar-toggle-btn:hover {
    background-color: #123fad;
  }

  .sidebar-toggle-btn {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    padding: 8px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }

  .sidebar-toggle-btn:hover {
    background-color: #e8e8e8;
  }

  .sidebar-toggle-btn i {
    font-size: 1.5rem;
  }
</style>

 <% if user_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container fluid">
    <a class="navbar-brand" href="<%= root_path %>">EasyRemplacement</a>
<button class="sidebar-toggle-btn" onclick="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto">
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Bienvenue, <%= current_user.first_name %> <%= current_user.last_name %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="userMenu">
                <li>
                  <%= link_to edit_user_registration_path, class: "nav-link" do %>
                    <i class="bi bi-person-lines-fill text-grey"></i> Edition du profil
                  <% end %>
                </li>
                <li>
                  <%= link_to userdata_path, class: "nav-link" do %>
                    <i class="bi bi-file-earmark-medical-fill text-grey"></i> Suivi des Remplacements
                    <span class="badge bg-danger rounded-circle m-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title='<%= @upcoming_events_with_contract %> contrat(s) à relire'>
                      <%= @upcoming_events_with_contract %>
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to office_path, class: "nav-link" do %>
                    <i class="bi bi-house-fill text-grey"></i> Le Cabinet
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
              <i class="bi bi-door-open-fill text-grey" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Déconnexion"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


    <% if current_user && current_user.admin? %>
<div class="sidebar hidden" id="sidebar">
  <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to events_path, class: "nav-link" do %>
          <i class="bi bi-calendar3"></i> Calendrier
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to users_path, class: "nav-link" do %>
          <i class="bi bi-people"></i> Utilisateurs
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to sites_path, class: "nav-link" do %>
          <i class="bi bi-house-door"></i> Sites
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to doctors_path, class: "nav-link" do %>
          <i class="bi bi-person-badge"></i> Médecins
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to mailing_lists_path, class: "nav-link" do %>
          <i class="bi bi-envelope"></i> Mailing Lists
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to cdoms_path, class: "nav-link" do %>
          <i class="bi bi-briefcase"></i> Conseil de l'Ordre
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to contracts_path, class: "nav-link" do %>
          <i class="bi bi-file-earmark-text"></i> Contrat de Remplacement
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to datas_path, class: "nav-link" do %>
          <i class="bi bi-file-earmark-medical"></i> Suivi Des Remplacements
          <span class="badge bg-danger rounded-circle m-1">
            <%= @contract_to_generate %>
          </span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to accounting_path, class: "nav-link" do %>
          <i class="bi bi-file-earmark-medical"></i> Comptabilité
        <% end %>
      </li>
      <li>
      </li>
    <% end %>
  </ul>
</div>