<% content_for :head do %>
  <%= javascript_import_module_tag "text" %>
<% end %>

<%= form_with(model: mailing_list, class: "card m-3 shadow") do |form| %>
  <% if mailing_list.errors.any? %>
    <div class="card-header bg-danger text-white">
      <h2><%= pluralize(mailing_list.errors.count, "erreur") %> a ou ont empêché l'enregistrement de cette mailing list :</h2>
    </div>
    <div class="card-body text-danger">
      <ul>
        <% mailing_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-12">
        <%= form.label :name, "Titre", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= form.label :site_id, "Site", class: "form-label" %>
        <%= form.collection_select :site_id, Site.all, :id, :name, { prompt: "Sélectionnez un site" }, class: "form-select" %>
      </div>

      <div class="col-md-12">
        <%= form.label :text, "Contenu", class: "form-label" %>
        <div class="rich-text-container">
          <%= form.rich_text_area :text, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <%= form.submit "Enregistrer", class: "btn btn-primary" %>
      <%= link_to "Retour", mailing_lists_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
