<div class="card m-3 shadow">
  <div class="card-body">
    <h1>Paramètres :</h1>

<%= form_with(model: @app_settings, url: app_setting_path(@app_settings), method: :patch) do |form| %>
      
     <div class="row">
  <div class="col-auto">
    <div class="m-3">Logo :</div>
    <% if @app_settings.logo.attached? %>
      <%= image_tag(@app_settings.logo, class: 'logo') %>
      <%= form.label :remove_logo, class: 'remove-logo-checkbox' do %>
        <%= form.check_box :remove_logo %>
        <span>Supprimer le logo</span>
      <% end %>
    <% else %>
      <%= form.file_field :logo, class: 'form-control m-3' %>
    <% end %>
  </div>


          <div class = "col-auto">
          <div class="m-3">Nom de l'Application :</div>
          <%= form.text_field :app_name, class: 'form-control m-3' %>
           </div>
          </div>

          <div class ="row">
          <div class = "col-auto">
          <div class="m-3">Délai minimum pour Réserver :</div>
          <%= form.number_field :disable_booking_threshold, class: 'form-control m-3' %>
          </div>

          <div class = "col-auto">
          <div class="m-3">Délai maximum pour annuler un Remplacement :</div>
          <%= form.number_field :max_replacement_cancel, class: 'form-control m-3' %>
          </div>
          </div>

          <div class ="row">
          <div class = "col-auto">
          <div class="m-3">Heure de séparation matin/après-midi :</div>
          <%= form.time_field :am_pm_hour_separation, class: 'form-control m-3' %>
          </div>

          <div class = "col-auto">
          <div class="m-3">Durée minimum d'un Remplacement :</div>
          <%= form.time_field :minimal_replacement_length, class: 'form-control m-3' %>
          </div>
          </div>

        <div class="text-center m-3">
      <%= form.submit 'Enregistrer', class: 'btn btn-primary mt-3' %>
    <% end %>
    </div>
  </div>
</div>

<div class="text-end m-3">
  <%= link_to "Retour", root_path, class: "btn btn-success" %>
</div>
