<div class="card m-3 shadow">
  <div class="card-header">
  <h4>Paramètres :</h4>
  </div>
  <div class="card-body">

      <%= form_with(model: @app_settings, url: app_setting_path(@app_settings), method: :patch) do |form| %>
      
     <div class="row">

          <div class = "col-auto">
          <div class="m-3">Nom de l'Application :</div>
          <%= form.text_field :app_name, class: 'form-control m-3' %>
           </div>

          <div class="col-auto m-3">
            <%= form.label :logo, "Logo :" %>
            <%= form.file_field :logo, accept: "image/*", class: "form-control m-3" %>
            <% if @app_settings.logo.attached? %>
              <p>Image sélectionnée :</p>
              <%= image_tag @app_settings.logo, style: "max-width: 300px; max-height: 200px;" %>
              <%= link_to 'Supprimer le logo', delete_logo_path(id: @app_settings.id), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer le logo ?" } %>
            <% else %>
              <p>Aucune image sélectionnée</p>
            <% end %>
          </div>
      </div>

      <div class ="row">
          <div class = "col-auto">
          <div class="m-3">Délai minimum en jour pour Réserver :</div>
          <%= form.number_field :disable_booking_threshold, class: 'form-control m-3' %>
          </div>

          <div class = "col-auto">
          <div class="m-3">Délai maximum en jour pour annuler un Remplacement :</div>
          <%= form.number_field :max_replacement_cancel, class: 'form-control m-3' %>
          </div>
      </div>

      <div class ="row">
          <div class = "col-auto">
          <div class="m-3">Heure de séparation matin/après-midi :</div>
          <%= form.time_field :am_pm_hour_separation, class: 'form-control m-3' %>
          </div>

          <div class="col-auto">
          <div class="m-3">Durée minimum d'un Remplacement (en heures):</div>
          <%= form.number_field :minimal_replacement_length, step: 0.01, class: 'form-control m-3' %>
          </div>
      </div>

      <div class="text-center m-3">
          <%= form.submit 'Enregistrer', class: 'btn btn-primary mt-3' %>
      </div>
      
    <% end %>
  </div>
</div>

<div class="text-end m-3">
  <%= link_to "Retour", root_path, class: "btn btn-success" %>
</div>
