<button type="button" 
        class="btn btn-outline-secondary" 
        data-bs-toggle="modal" 
        data-bs-target="#event-modal-<%= event.id %>">
  Détails
</button>

<div class="modal fade" 
     id="event-modal-<%= event.id %>" 
     tabindex="-1" 
     aria-labelledby="event-modal-label-<%= event.id %>" 
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="event-modal-label-<%= event.id %>">
          Détails du Remplacement
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'events/event', event: event %>
      </div>
    </div>
  </div>
</div>