<button type="button" 
        class="btn btn-outline-secondary" 
        data-bs-toggle="modal" 
        data-bs-target="#event-modal-<%= event.id %>">
  <i class="bi bi-info-circle me-2"></i>Détails
</button>

<div class="modal fade" 
     id="event-modal-<%= event.id %>" 
     tabindex="-1" 
     aria-labelledby="event-modal-label-<%= event.id %>" 
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header border-0 bg-light">
        <h5 class="modal-title" id="event-modal-label-<%= event.id %>">
          <i class="bi bi-calendar-event me-2"></i>Détails du Remplacement
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <%= render 'events/event', event: event %>
      </div>
    </div>
  </div>
</div>