<% event_start = event.start_time.strftime("%H:%M") %>
<% event_end = event.end_time.strftime("%H:%M") %>
 
  <div class="card m-3 mx-auto" style="border-left: 5px solid <%= event.site.color %>; max-width: 30rem;">
   <div class="card-header">
    Détails de la Plage de Remplacement :
  </div>
                <div class="card-body" style="overflow-wrap: break-word;">
                    <div class="d-flex justify-content-between"><strong><%= event.site.name %></strong> 
                      <% if current_user && current_user.admin? %>
                      <%= link_to edit_event_path(event), class: 'btn btn-outline-primary m-1' do %>
                       <i class="bi bi-pencil"></i>
                      <% end %>
                      <% end %>
                    </div>
                  <hr>
                  <strong>Horaires :</strong> <%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %><br>
                  <strong>Médecin :</strong> Dr <%= event.doctor.last_name %> <%= event.doctor.first_name %><br>
                  <strong>Nb de Patients :</strong> <%= event.number_of_patients %><br>
                  <strong>Taux de Reversion :</strong> <%= event.reversion %> %<br>
                  <strong>Cs Aidée :</strong> <%= event.helper ? 'oui' : 'non' %>
                  <% if event.editable == true %>
                  <hr>
                  <div>

                  <% if event.helper == false %>
  <div class="m-1"><strong>Nombre de patients / heure souhaité :</strong></div>
  <%= form_for(@event, url: event_path(@event), html: { class: 'form' }) do |form| %>
    <div class="row">
      <div class = "col">
        <%= form.number_field :patient_count, min: @event.site.min_patients, max: @event.site.max_patients, class: 'form-control w-25' %>
      </div>
    </div>

  <% if @event.site.pm_min_hour.present? && @event.site.pm_max_hour.present? && @event.site.am_min_hour.present? && @event.site.am_min_hour.present? %>
    <% if @event.start_time.hour < 13 && @event.end_time.hour < 13 %>
    <div class="m-1"><strong>Horaires de la matinée souhaités :</strong></div> 
      <div class="row align-items-center">
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :am_min_hour, { default: @event.site.am_min_hour, start_hour: @event.site.am_min_hour.hour, end_hour: @event.site.am_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1' } %>
          </div>
        </div>
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :am_max_hour, { default: @event.site.am_max_hour, start_hour: @event.site.am_min_hour.hour, end_hour: @event.site.am_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1' } %>
          </div>
        </div>
      </div>
    <% elsif @event.start_time.hour >= 13 && @event.end_time.hour >= 13 %>
    <div class="m-1"><strong>Horaires de l&#39;après-midi souhaités :</strong></div> 
      <div class="row align-items-center">
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :pm_min_hour, { default: @event.site.pm_min_hour, start_hour: @event.site.pm_min_hour.hour, end_hour: @event.site.pm_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1' } %>
          </div>
        </div>
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :pm_max_hour, { default: @event.site.pm_max_hour, start_hour: @event.site.pm_min_hour.hour, end_hour: @event.site.pm_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1' } %>
          </div>
        </div>
      </div>
    <% else %>
    <div class="m-1"><strong>Horaires de la journée souhaités :</strong></div> 
      <div class="row align-items-center">
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :am_min_hour, { default: @event.site.am_min_hour, start_hour: @event.site.am_min_hour.hour, end_hour: @event.site.am_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1' } %>
          </div>
        </div>
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :pm_max_hour, { default: @event.site.pm_max_hour, start_hour: @event.site.pm_min_hour.hour, end_hour: @event.site.pm_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1' } %>
          </div>
        </div>
      </div>
    <% end %>


      <div class="text-end">
        <%= form.submit 'Enregistrer', class: 'btn btn-primary m-2' %>
      </div>
    <% end %>
    <% end %>
   <% else %>
   <div class="m-1"><strong>Nombre de patients / heure souhaité :</strong></div>
    <%= form_for(@event, url: event_path(@event), html: { class: 'form' }) do |form| %>
    <div class="row">
      <div class = "col-md">
        <%= form.number_field :patient_count, min: @event.site.min_patients_helped, max: @event.site.max_patients_helped, class: 'form-control w-25' %>
      </div>
    </div>

  <% if @event.site.pm_min_hour.present? && @event.site.pm_max_hour.present? && @event.site.am_min_hour.present? && @event.site.am_min_hour.present? %>
    <% if @event.start_time.hour < 13 && @event.end_time.hour < 13 %>
    <div class="m-1"><strong>Horaires de la matinée souhaités :</strong></div> 
      <div class="row align-items-center">
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :am_min_hour, { default: @event.site.am_min_hour, start_hour: @event.site.am_min_hour.hour, end_hour: @event.site.am_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1 w-25' } %>
          </div>
        </div>
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :am_max_hour, { default: @event.site.am_max_hour, start_hour: @event.site.am_min_hour.hour, end_hour: @event.site.am_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1 w-25' } %>
          </div>
        </div>
      </div>
    <% elsif @event.start_time.hour >= 13 && @event.end_time.hour >= 13 %>
    <div class="m-1"><strong>Horaires de l&#39;après-midi souhaités :</strong></div> 
      <div class="row align-items-center">
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :pm_min_hour, { default: @event.site.pm_min_hour, start_hour: @event.site.pm_min_hour.hour, end_hour: @event.site.pm_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1 w-25' } %>
          </div>
        </div>
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :pm_max_hour, { default: @event.site.pm_max_hour, start_hour: @event.site.pm_min_hour.hour, end_hour: @event.site.pm_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1 w-25' } %>
          </div>
        </div>
      </div>
    <% else %>
    <div class="m-1"><strong>Horaires de la journée souhaités :</strong></div>
      <div class="row align-items-center">
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :am_min_hour, { default: @event.site.am_min_hour, start_hour: @event.site.am_min_hour.hour, end_hour: @event.site.am_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1 w-25' } %>
          </div>
        </div>
        <div class="col-md">
          <div class="d-flex">
            <%= form.time_select :pm_max_hour, { default: @event.site.pm_max_hour, start_hour: @event.site.pm_min_hour.hour, end_hour: @event.site.pm_max_hour.hour, minute_step: 10 }, { class: 'form-control mx-1 w-25' } %>
          </div>
        </div>
      </div>
    <% end %>


    <div class="text-end">
        <%= form.submit 'Enregistrer', class: 'btn btn-primary m-2' %>
      </div>
  <% end %>
<% end %>
<% end %>

<hr>

<% if current_user.role == false %>
  <div class="text-center">
    <% if event.user_id.present? %>
      <%= link_to "#", class: 'btn btn-secondary m-1', disabled: true, style: 'pointer-events: none;' do %>
        Réservé
      <% end %>
    <% else %>
      <%= button_to booking_event_path(event), method: :put, data: { "turbo-confirm": 'Confirmez vous réaliser le remplacement sélectionné ?' }, class: 'btn btn-primary m-1' do %>
        Réserver
      <% end %>
    <% end %>
  </div>
<% end %>
<% end %>