
<div class="d-flex justify-content-between">
  <strong><%= event.site.name %></strong> 
  <% if current_user&.admin? %>
    <%= link_to edit_event_path(event), class: 'btn btn-outline-primary m-1' do %>
      <i class="bi bi-pencil"></i>
    <% end %>
  <% end %>
</div>
<hr>
<strong>Horaires :</strong> <%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %><br>
<strong>Médecin :</strong> Dr <%= event.doctor.last_name %> <%= event.doctor.first_name %><br>
<strong>Nb de Patients :</strong> <%= event.number_of_patients %><br>
<strong>Taux de Reversion :</strong> <%= event.reversion %> %<br>
<strong>Cs Aidée :</strong> <%= event.helper ? 'oui' : 'non' %><br>
<strong>Durée minimale du Remplacement :</strong> <%= @app_settings.minimal_replacement_length %> heures
