
<div class="card m-3 shadow">
  <%= form_with(model: @event) do |form| %>
    <% if @event.errors.any? %>
      <div style="color: red">
        <h4><%= pluralize(@event.errors.count, "erreur") %> a ou ont empêché ce remplacement d'être enregistré :</h4>
        <ul>
          <% @event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card-body m-3 row">
      <h1>Détails de la Plage de Remplacement</h1>
      <hr>

      <%= render 'events/form_fields/basic_info', form: form %>
      <%= render 'events/form_fields/time_info', form: form %>
      <%= render 'events/form_fields/additional_info', form: form %>

      <div class="form-group text-center m-3">
        <%= form.submit "Enregistrer", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
