
  <div class="card m-3 shadow">
    <div class="card-body">
      <h1>Planning des Remplacements</h1>
    <hr>

    <div class="container-fluid">
  <div class="d-flex justify-content-between m-1"></div>
  <% col_class = 'col-lg-12' %>
  <div id="calendar" class="overflow-auto">

    <%= calendar(events: @events, number_of_days: 7) do |date, events| %>
      <% events_filtered_by_site = events.select { |event| (params[:site_ids].present? ? params[:site_ids] : @favorite_site_ids).include?(event.site_id.to_s) } %>
      <% events_filtered_by_doctor = events.select { |event| params[:doctor_ids].present? && params[:doctor_ids].include?(event.doctor_id.to_s) } %>
      
      <% events_to_display = if params[:doctor_ids].present? && params[:site_ids].present?
                               events_filtered_by_site & events_filtered_by_doctor
                             elsif params[:doctor_ids].present?
                               events_filtered_by_doctor
                             elsif params[:site_ids].present?
                               events_filtered_by_site
                             else
                               events
                             end %>


          <%= date.strftime("%d/%m/%Y") %>
          <div class="card-columns" style="flex-wrap: wrap;">
            <% events_to_display.each do |event| %>
              <div class="card mb-1" style="border-left: 5px solid <%= event.site.color %>; min-width: 250px;">
                <div class="card-body">
                  <p class="text-center"><strong><%= event.site.name %></strong></p>
                  <hr>
                    <strong>Horaires :</strong> <%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %><br>
                    <strong>Médecin :</strong> Dr <%= event.doctor.last_name %> <%= event.doctor.first_name %><br>
                  <hr>

                  <div class="text-center">
                    <div class="d-flex justify-content-center">
                      <% if current_user && current_user.admin? %>
                        <%= link_to edit_event_path(event), { "aria-label" => "Éditer l'événement", class: 'btn btn-outline-primary m-1' } do %>
                          <i class="bi bi-pencil"></i>
                        <% end %>
                        <%= button_to event_path(event), { "aria-label" => "Supprimer l'événement", method: :delete, data: { "turbo-confirm" => 'Voulez-vous vraiment supprimer cette plage ?' }, class: 'btn btn-outline-danger m-1' } do %>
                          <i class="bi bi-trash"></i>
                        <% end %>
                      <% end %>

                      <% if event.user_id.present? %>
                        <%= link_to "#", class: 'btn btn-secondary m-1', disabled: true, style: 'pointer-events: none;' do %>
                          Réservé
                        <% end %>
                      <% else %>
                        <%= link_to event_path(event), method: :get, class: 'btn btn-primary m-1' do %>
                          Détails
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if current_user && current_user.admin? %>
 <div class="d-flex justify-content-end m-1">
    <%= link_to new_event_path, aria: { label: 'Ajouter une nouvelle plage de Remplacement' } do %>
      <i class="add-icon bi bi-plus-circle-fill"></i>
    <% end %>
</div>

<% end %>


     </div>
    </div>
   </div>
  </div>
