<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Planning des Remplacements</h1>
    <% if current_user&.role? %>
      <%= link_to new_event_path, class: "btn btn-primary btn-lg shadow border border-2 border-white" do %>
        <i class="bi bi-plus-lg me-2"></i>Nouveau Remplacement
      <% end %>
    <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div id="calendar" class="overflow-auto">
          <%= render 'events/calendar_filters' %>
          <%= render 'events/calendar_view', events: @events %>
        </div>

        <%= render 'events/admin_actions' if current_user&.admin? %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "arrows" %>
<%= javascript_include_tag "book_event" %>
