
<div class="card m-3 shadow">
  <div class="card-header">
    <h1>Planning des Remplacements</h1>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div id="calendar" class="overflow-auto">
        <%= render 'events/calendar_filters' %>
        <%= render 'events/calendar_view', events: @events %>
      </div>

      <%= render 'events/admin_actions' if current_user&.admin? %>
    </div>
  </div>
</div>

<%= javascript_include_tag "arrows" %>
<%= javascript_include_tag "book_event" %>
