<div class="px-4 py-5 px-md-5 text-center text-lg-start m-3" style="background-color: hsl(0, 0%, 96%)">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1 class="my-5 display-3 fw-bold ls-tight">
          Connectez-<br />
          <span class="text-primary">vous</span>
        </h1>
          <p style="color: hsl(217, 10%, 50.8%) text-align: left;">
      Bienvenue sur <%= Rails.application.config.settings.appname %>,
      créez un compte pour accéder au planning de remplacement.
    </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card shadow">
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-4" }) do |f| %>
             <div class="form-group m-3">
                <%= f.label :email %><br />
                <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group m-3">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class="form-group-inline m-3">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class: "form-check-label", style: "margin-left: 5px;" do %>
                 Se souvenir de moi
                <% end %>
              </div>
            <% end %>

          <div class="form-group text-center">
            <%= f.submit "Connexion", class: "btn btn-primary" %>
          </div>
        <% end %>
    <%= render "devise/shared/links" %>

      </div>
        </div>
      </div>
    </div>
  </div>
</div>