<%= form_tag userdata_path, method: :get, class: 'form-inline' do %>
  <div class="form-group d-inline-block m-3">
    <%= label_tag :year, "Année", class: "mr-1 text-white" %>
    <%= select_tag :year,
        options_for_select((2022..Time.now.year).to_a.reverse, params[:year]),
        prompt: "Sélectionnez une Année",
        class: "form-control" %>
  </div>

  <div class="form-group d-inline-block m-3">
    <%= label_tag :month, "Mois", class: "mr-1 text-white" %>
    <%= select_tag :month,
        options_for_select(
          (1..12).map { |m| [I18n.t("date.month_names")[m], m] },
          params[:month]
        ),
        prompt: "Sélectionnez un Mois",
        class: "form-control" %>
  </div>

  <div class="form-group d-inline-block m-3">
    <%= label_tag :site, "Site", class: "mr-1 text-white" %>
    <%= select_tag :site,
        options_from_collection_for_select(Site.all, "id", "name", params[:site]),
        prompt: "Sélectionnez un Site",
        class: "form-control" %>
  </div>

  <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
    <i class="bi bi-filter-circle"></i>
  <% end %>

  <%= link_to "Export CSV",
      userdata_csv_path(
        year: params[:year],
        month: params[:month],
        site: params[:site]
      ),
      class: "btn btn-secondary" %>
<% end %>