<% content_for :head do %>
<%= javascript_import_module_tag "chart" %>
<% end %>

Chartkick.configure({language: "fr"});

<div class="chart-selector shadow m-3">
  <%= select_tag :group_by_total, options_for_select([['Par mois', 'month'], ['Par année', 'year']], params[:group_by_total]), class: 'form-control', id: 'group-by-total' %>
</div>
<div class="chart-container row m-3">
  <div class="col-md-6">
    <h3>Total des Remplacements</h3>
    <%= column_chart @amount, download: true, locale: 'fr', library: {
  scales: {
    x: {
      type: 'time',
      time: {
        unit: 'day',
        tooltipFormat: 'dd/MM/yyyy',
        displayFormats: {
          day: 'dd MM',
          week: 'MM yyyy',
          month: 'MM yyyy',
          quarter: 'QQQ yyyy',
          year: 'yyyy'
        }
      }
    }
  }
} %>
  </div>
  <div class="col-md-6">
    <h3>Montant Total Reversé</h3>
    <%= column_chart @amount_paid, download: true, locale: 'fr', library: {
  scales: {
    x: {
      type: 'time',
      time: {
        unit: 'day',
        tooltipFormat: 'dd/MM/yyyy',
        displayFormats: {
          day: 'dd MM',
          week: 'MM yyyy',
          month: 'MM yyyy',
          quarter: 'QQQ yyyy',
          year: 'yyyy'
        }
      }
    }
  }
} %>
  </div>
</div>

<div class="chart-selector shadow m-3">
  <%= select_tag :group_by_site, options_for_select([['Par mois', 'month'], ['Par année', 'year']], params[:group_by_site]), class: 'form-control', id: 'group-by-site' %>
</div>
<div class="chart-container row m-3">
  <div class="col-md-6">
    <h3>Total des Remplacements par site</h3>
    <%= column_chart @amount_by_site, download: true, locale: 'fr' %>
  </div>
  <div class="col-md-6">
    <h3>Montant Total Reversé par site</h3>
    <%= column_chart @amount_paid_by_site, download: true, locale: 'fr' %>
  </div>
</div>

<div class="chart-selector shadow m-3">
  <%= select_tag :group_by_doctor, options_for_select([['Par mois', 'month'], ['Par année', 'year']], params[:group_by_doctor]), class: 'form-control', id: 'group-by-doctor' %>
</div>
<div class="chart-container row m-3">
  <div class="col-md-6">
    <h3>Total des Remplacements par médecin</h3>
    <%= column_chart @amount_by_doctor, download: true, locale: 'fr' %>
  </div>
  <div class="col-md-6">
    <h3>Montant Total Reversé par médecin</h3>
    <%= column_chart @amount_paid_by_doctor, download: true, locale: 'fr' %>
  </div>
</div>

<div class="chart-selector shadow m-3">
  <%= select_tag :group_by_user, options_for_select([['Par mois', 'month'], ['Par année', 'year']], params[:group_by_user]), class: 'form-control', id: 'group-by-user' %>
</div>
<div class="chart-container row m-3">
  <div class="col-md-6">
    <h3>Total des Remplacements par utilisateur</h3>
    <%= column_chart @amount_by_user, download: true, locale: 'fr' %>
  </div>
  <div class="col-md-6">
    <h3>Montant Total Reversé par utilisateur</h3>
    <%= column_chart @amount_paid_by_user, download: true, locale: 'fr' %>
  </div>
</div>
