<div class="card m-3 shadow">
  <div class="card-header">
    <h1>Liste des Médecins</h1>
  </div>

<div class="row m-2">
  <div class="col-md-8 mt-2">
    <%= form_tag doctors_path, method: :get, class: 'w-100' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Rechercher par Nom ou Prénom', class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content">
              <% if params[:search].blank? %>
        <%= submit_tag 'Rechercher', class: 'btn btn-outline-secondary m-2' %>
        <% else %>
          <%= link_to 'Réinitialiser', doctors_path, class: 'btn btn-outline-secondary m-2' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="table-primary">
          <th>Titre</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>RPPS</th>
          <th>Spécialité</th>
          <th>Secteur conventionnel</th>
          <th>Téléphone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.title %></td>
            <td><%= doctor.last_name %></td>
            <td><%= doctor.first_name %></td>
            <td><%= doctor.rpps %></td>
            <td><%= doctor.speciality %></td>
            <td><%= doctor.conventional_sector %></td>
            <td><%= doctor.phone %></td>
            <td><%= doctor.email %></td>
            <td>
              <div class="btn-group" role="group">
                <%= link_to edit_doctor_path(doctor), class: 'btn btn-secondary btn-sm me-3 rounded' do %>
                  <i class="bi bi-pencil-fill"></i>
                <% end %>
                <%= button_to doctor, method: :delete, data: { "turbo-confirm": 'Êtes-vous sûr de vouloir supprimer ce profil médecin ?' }, class: 'btn btn-danger btn-sm me-2' do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        <tr>
          
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

        <div class="d-flex justify-content-end m-1">
          <div style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;">
          <%= link_to new_doctor_path do %>
          <i class="bi bi-plus-circle-fill text-primary" style="font-size: 3rem;"></i>
          <% end %>
        </div>

<div class="m-3">
     <%== pagy_bootstrap_nav(@pagy) %>
</div>