<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Liste des Médecins</h1>
    <%= link_to new_doctor_path, class: "btn btn-primary btn-lg shadow border border-2 border-white" do %>
      <i class="bi bi-plus-lg me-2"></i>Nouveau Médecin
    <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>RPPS</th>
              <th>Spécialité</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @doctors.each do |doctor| %>
              <tr>
                <td><%= doctor.last_name %></td>
                <td><%= doctor.first_name %></td>
                <td><%= doctor.rpps %></td>
                <td><%= doctor.speciality %></td>
                <td>
                  <span class="badge bg-<%= doctor.status_badge %>">
                    <%= doctor.status %>
                  </span>
                </td>
                <td>
                  <div class="btn-group gap-1">
                    <%= link_to edit_doctor_path(doctor), class: "btn btn-sm btn-outline-secondary rounded-pill" do %>
                      <i class="bi bi-pencil"></i>
                    <% end %>
                    <%= button_to doctor_path(doctor), method: :delete, class: "btn btn-sm btn-outline-danger", form: { data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce médecin ?" } } do %>
                      <i class="bi bi-trash"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>