<%= form_with(model: site, class: "card m-3 shadow") do |form| %>
  <% if site.errors.any? %>
    <div class="card-header bg-danger text-white">
      <h2><%= pluralize(site.errors.count, "erreur") %> a ou ont empêché l'enregistrement de ce site :</h2>
    </div>
    <div class="card-body text-danger">
      <ul>
        <% site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
  <h1>Édition du Site</h1>
      <hr>
    <div class="row m-3">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :name, "Nom" %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :address, "Adresse" %>
          <%= form.text_field :address, class: 'form-control' %>
        </div>
       <div class="row" data-controller="city-select">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :postal_code, "Code Postal" %>
      <%= form.text_field :postal_code, data: { city_select_target: 'postalCode' }, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :city, "Ville" %>
      <%= form.select :city, [], {}, data: { city_select_target: 'city' }, class: 'form-control' %>
            <%= form.hidden_field :city, data: { city_select_target: 'cityHidden' } %>
    </div>
  </div>
</div>

        <div class="form-group">
          <%= form.label :color, "Choix de la couleur" %>
          <%= form.color_field :color, class: 'form-control form-control-color' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :software, "Logiciel Métier" %>
          <%= form.text_field :software, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :informations, "Informations Divers" %>
          <%= form.text_area :informations, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= form.label :cdom_id, "Conseil de l'ordre" %>
          <%= form.collection_select(:cdom_id, Cdom.all, :id, :name, { prompt: "Sélectionnez un Conseil de l'Ordre" }, class: 'form-control') %>
        </div>
      </div>
      <div class="form-group">
          <%= form.label :instructions, "Consignes de Remplacement" %>
          <%= form.text_area :instructions, class: 'form-control' %>
        </div>
    </div>

    <hr>
    <div id="consultation-parameters">
      <div><u>Paramètres de Consultation :</u></div>
      <br>
      <div class="row gx-3 gy-2 align-items-center m-3">
        <div class="col-md-4">
        <div class="form-group mx-sm-3 mb-2 w-75">
        <%= form.label :min_patients, "Nombre de patients (min - max) /h sans aide :" %>
        <div class="d-flex justify-content-between">
          <%= form.number_field :min_patients, min: 4, max: 10, class: 'form-control' %>
          <div class="nb-space"></div>
          <%= form.number_field :max_patients, min: 4, max: 10, class: 'form-control' %>
        </div>
      </div>
      
          <div class="form-group mx-sm-3 mb-2 w-75">
            <%= form.label :min_patients_helped, "Nombre de patients (min - max) /h en Cs aidée :" %>
            <div class="d-flex justify-content-between">
              <%= form.number_field :min_patients_helped, min: 4, max: 10, class: 'form-control' %>
              <div class="nb-space"></div>
              <%= form.number_field :max_patients_helped, min: 4, max: 10, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group m-sm-3 w-75">
            <%= form.label :am_hour, "Amplitude horaire maximale le Matin :" %>
            <div class="d-flex justify-content-between align-items-center">
            <%= form.time_select :am_min_hour, { minute_step: 10, default: { hour: 8, minute: 30 } }, class: 'form-control time-select' %>
              <div class="mx-2 align-items-center"></div>
            <%= form.time_select :am_max_hour, { minute_step: 10, default: { hour: 12, minute: 30 } }, class: 'form-control time-select' %>
            </div>
          </div>
          <div class="form-group m-sm-3 w-75">
            <%= form.label :pm_hour, "Amplitude horaire maximale l'Après-Midi : " %>
            <div class="d-flex justify-content-between align-items-center">
            <%= form.time_select :pm_min_hour, { minute_step: 10, default: { hour: 13, minute: 30 } }, class: 'form-control time-select' %>
              <div class="mx-2 align-items-center"></div>
            <%= form.time_select :pm_max_hour, { minute_step: 10, default: { hour: 18, minute: 00 } }, class: 'form-control time-select' %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group text-end">
        <%= form.submit 'Enregistrer', class: 'btn btn-primary' %>

  <%= link_to "Retour", sites_path, class: "btn btn-success" %>
</div>
    </div>
  <% end %>
</div>