<%= form_with(model: site, class: "card m-3 shadow") do |form| %>
  <% if site.errors.any? %>
    <div class="card-header bg-danger text-white">
      <h2><%= pluralize(site.errors.count, "erreur") %> a ou ont empêché l'enregistrement de ce site :</h2>
    </div>
    <div class="card-body text-danger">
      <ul>
        <% site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-12">
        <%= form.label :name, "Nom", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= form.label :address, "Adresse", class: "form-label" %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="col-md-4">
        <%= form.label :postal_code, "Code Postal", class: "form-label" %>
        <%= form.text_field :postal_code, class: "form-control" %>
      </div>

      <div class="col-md-8">
        <%= form.label :city, "Ville", class: "form-label" %>
        <%= form.text_field :city, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= form.label :email, "Email", class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= form.label :phone, "Téléphone", class: "form-label" %>
        <%= form.telephone_field :phone, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= form.label :cdom_id, "CDOM", class: "form-label" %>
        <%= form.collection_select :cdom_id, Cdom.all, :id, :name, { prompt: "Sélectionnez un CDOM" }, class: "form-select" %>
      </div>

      <div class="col-md-6">
        <%= form.label :status, "Statut", class: "form-label" %>
        <%= form.select :status, Site::STATUS_OPTIONS, { prompt: "Sélectionnez un statut" }, class: "form-select" %>
      </div>
    </div>

    <div class="mt-4">
      <%= form.submit "Enregistrer", class: "btn btn-primary" %>
      <%= link_to "Retour", sites_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>