<div class="card m-3 shadow">
  <div class="card-header">
    <h1>Liste des Sites</h1>
  </div>

<div class="row m-2">
  <div class="col-md-8 mt-2">
    <%= form_tag sites_path, method: :get, class: 'w-100' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Rechercher par Nom', class: 'form-control', type: 'search' %>
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content">
              <% if params[:search].blank? %>
        <%= submit_tag 'Rechercher', class: 'btn btn-outline-secondary m-2' %>
        <% else %>
          <%= link_to 'Réinitialiser', sites_path, class: 'btn btn-outline-secondary m-2' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="table-primary">
          <th>Nom</th>
          <th>Adresse</th>
          <th>Code postal</th>
          <th>Ville</th>
          <th>Logiciel</th>
          <th>Informations</th>
          <th>Conseil de l'ordre</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
          <tr>
            <td><%= site.name %></td>
            <td><%= site.address %></td>
            <td><%= site.postal_code %></td>
            <td><%= site.city %></td>
            <td><%= site.software %></td>
            <td><%= truncate(site.informations, length: 20, omission: '...') %></td>
            <td><%= site.cdom&.name %></td>
            <td>
              <div class="btn-group" role="group">
                <%= link_to edit_site_path(site), class: 'btn btn-secondary btn-sm me-2 rounded' do %>
                  <%= content_tag(:i, '', class: "bi bi-pencil") %>
                <% end %>
                <%= button_to site, method: :delete, data: { "turbo-confirm": 'Êtes-vous sûr de vouloir supprimer ce site ?' }, class: 'btn btn-danger btn-sm me-2' do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
    </div>
  </div>
</div>

<tr>
          <div class="d-flex justify-content-end m-1">
    <div class="add-icon">
      <%= link_to new_site_path do %>
        <i class="bi bi-plus-circle-fill"></i>
      <% end %>
    </div>
  </div>


          <div class="m-3">
                <%== pagy_bootstrap_nav(@pagy) %>
          </div>
