<div class="card m-3 shadow">
  <div class="card-header">
    <h1>Liste des Sites</h1>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="table-primary">
          <th>Nom</th>
          <th>Adresse</th>
          <th>Code postal</th>
          <th>Ville</th>
          <th>Logiciel</th>
          <th>Informations</th>
          <th>Conseil de l'ordre</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @sites.each do |site| %>
          <tr>
            <td><%= site.name %></td>
            <td><%= site.address %></td>
            <td><%= site.postal_code %></td>
            <td><%= site.city %></td>
            <td><%= site.software %></td>
            <td><%= truncate(site.informations, length: 20, omission: '...') %></td>
            <td><%= site.cdom&.name %></td>
            <td>
              <div class="btn-group" role="group">
                <%= link_to edit_site_path(site), class: 'btn btn-secondary btn-sm me-2 rounded' do %>
                  <%= content_tag(:i, '', class: "bi bi-pencil") %>
                <% end %>
                <%= button_to site, method: :delete, data: { "turbo-confirm": 'Êtes-vous sûr de vouloir supprimer ce site ?' }, class: 'btn btn-danger btn-sm me-2' do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
    </div>
  </div>
</div>

<tr>
          <div style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;">
          <%= link_to new_site_path do %>
          <i class="bi bi-plus-circle-fill text-primary" style="font-size: 3rem;"></i>
          <% end %>
        </div>


          <div class="m-3">
                <%== pagy_bootstrap_nav(@pagy) %>
          </div>
