<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white">Liste des Sites</h1>
    <%= link_to new_site_path, class: "btn btn-primary btn-lg shadow border border-2 border-white" do %>
      <i class="bi bi-plus-lg me-2"></i>Nouveau Site
    <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @sites.each do |site| %>
              <tr>
                <td><%= site.name %></td>
                <td><%= site.full_address %></td>
                <td>
                  <span class="badge bg-<%= site.status_badge %>">
                    <%= site.status %>
                  </span>
                </td>
                <td>
                  <div class="btn-group gap-1">
                    <%= link_to edit_site_path(site), class: "btn btn-sm btn-outline-secondary rounded-pill" do %>
                      <i class="bi bi-pencil"></i>
                    <% end %>
                    <%= button_to site_path(site), method: :delete, class: "btn btn-sm btn-outline-danger", form: { data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce site ?" } } do %>
                      <i class="bi bi-trash"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
