<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= @app_name %></title>
  
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Application de Gestion de Remplacements en Ophtalmologie">
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= javascript_importmap_tags %>

    <%= yield :head %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container <%= 'sidebar-visible' if current_user && current_user.admin? %>">

      <div class="yield-content">
          <% if flash[:notice].present? %>
          <div class="alert alert-success text-center">
          <%= flash[:notice] %>
          </div>
          <% end %>
  
          <% if flash[:alert].present? %>
            <div class="alert alert-danger text-center">
            <%= flash[:alert] %>
            </div>
          <% end %>
        <%= yield %>
      </div>
    </div>
  <script src="<%= asset_path 'sidebar.js' %>"></script>
  </body>
</html>
